@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #f4eeff;
  font-family: "Poppins", sans-serif;
}

a {
  color: #407088;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 120px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: #430f58;
}

.App-footer a {
  color: #6643b5;
  text-decoration: none;
}

.App-footer a:hover {
  color: #8971d0;
}

.App-heading {
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
  color: #430f58;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
